.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
}
.table {
    border-collapse: collapse;
    width: 100%;
}
th,
td{
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 32px;
}
th {
    background-color: rgb(117, 201, 250);
}

td {
    background-color: rgb(205, 235, 253);
}

form {
    display: flex;
    justify-content: space-evenly;
}

form * {
    font-size: 28px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }